$def with (form)

<html>
  <head>
    <title>Lambda docker</title>
    <meta charset="UTF-8">
    <base href="/">

    <!-- Favicon -->
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon" />

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">

    <!-- JavaScript -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <h2>Welcome to lambda service</h2>

  <form name="main" method="post"> 
    $if not form.valid: <p class="error">Try again, AmeriCAN:</p>
    $:form.render()

  <input type="submit" value="Run lambda" />
</form>

  </body>
</html>
